Customer Support Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "content": "Customer Support Workflow",
        "height": 80,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -112
      ],
      "id": "762e4850-90e9-451c-ad2f-0f39902bac0b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        48
      ],
      "id": "8f8bed59-357e-4ca9-a2e3-76b7e8eda176",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "QciOHY6U2rJRO07t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping out a customer. They may be asking about our policies or questions about our product and services."
            },
            {
              "category": "Other",
              "description": "An email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -192,
        48
      ],
      "id": "337ba2c7-a1e6-433a-a702-4bf016200854",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -272,
        256
      ],
      "id": "f70899c8-e926-4aca-8653-644417f3d98a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FNXPUzLwdBira6j4",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        144
      ],
      "id": "e11196d7-40dd-4f22-ad95-44264c435e7b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Tech Haven. Your jobs is to respond to incoming emails with relevant information using the FAQ knowldge from Pinecone.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n## Output\n- Output only the body content of the email\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -64
      ],
      "id": "78988ca4-47a6-47bc-9ac5-0fde3e48776c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "d89d192d-4359-4f96-ae2d-73e8288ea002",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "FNXPUzLwdBira6j4",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access Policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "b1b593f6-3909-4ba8-affd-73431b9a7c5d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qmZfktjM4W33vfQJ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        368
      ],
      "id": "e73b3b61-8b01-4416-b245-b73ca09948e6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0XKE4BSJvKjHkWue",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -64
      ],
      "id": "b4d0c204-bf4c-463f-921d-a78ec41e6c28",
      "name": "Reply to a message",
      "webhookId": "2b1ffdc5-7fd5-4271-9e51-6d62a497a3cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "QciOHY6U2rJRO07t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2516572808922778109"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -64
      ],
      "id": "513cad05-282d-468f-b54b-93a2198a3e3b",
      "name": "Add label to message",
      "webhookId": "afa3c6b5-7c95-4cc9-9278-f32810491720",
      "credentials": {
        "gmailOAuth2": {
          "id": "QciOHY6U2rJRO07t",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83f70be0-6d24-4156-9f7a-bf0d0b3a6ceb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67e1fe6716ff23b205d922c247e34d7e7bdf574de696a9e011e835af9e36c718"
  },
  "id": "r6lScrxeqsHbVsKH",
  "tags": []
}